<%= t "password_reset.to_reset_pwd" %>

<%= edit_password_reset_url id: @user.reset_token, email: @user.email %>

<p><%= t "password_reset.expired_time" %></p>
<p><%= t "password_reset.ignore_mail" %></p>
